%p
  = f.label :username, "User"
  = f.text_field :username
%p
  = f.label :new_password, "Password"
  = f.password_field :new_password
%p
  = f.label :new_password_confirmation, "Confirm Password"
  = f.password_field :new_password_confirmation
